# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [2]:
# Import the required packages
import Pkg
Pkg.add("DataFrames")
using Distributions, DataFrames, Random

In [35]:
# Seed the random number generator
Random.seed!(1234);

In [30]:
# Question 4: Create the 30 x 3 array named array_1
array_1 = Array{Float64, 2}(undef,30, 3)

30×3 Matrix{Float64}:
 1.4204e-315   1.00999e-314  1.27186e-315
 2.0e-323      6.0e-323      1.14e-322
 1.0e-323      4.0e-323      8.0e-323
 2.28435e-315  1.00999e-314  2.21948e-315
 1.14e-322     6.4e-323      2.27e-322
 1.5e-323      4.4e-323      9.0e-323
 1.27177e-315  5.0e-324      1.27177e-315
 2.5e-323      7.0e-323      1.2e-322
 1.5e-323      5.0e-323      9.0e-323
 1.27177e-315  2.122e-314    1.27186e-315
 6.4e-323      7.4e-323      1.3e-322
 2.0e-323      5.4e-323      9.4e-323
 1.27177e-315  2.21947e-315  2.21948e-315
 ⋮
 2.17914e-315  1.27186e-315  1.27177e-315
 3.5e-323      9.0e-323      2.27e-322
 2.5e-323      6.4e-323      1.04e-322
 5.0e-324      1.27186e-315  1.27938e-315
 4.4e-323      1.0e-322      1.4e-322
 3.0e-323      7.0e-323      1.04e-322
 1.00999e-314  1.27261e-315  1.27261e-315
 5.4e-323      9.4e-323      1.8e-322
 3.5e-323      7.0e-323      1.1e-322
 1.00999e-314  1.27177e-315  2.21488e-315
 5.0e-323      1.04e-322     0.0
 3.5e-323      7.4e-323      0.0

In [31]:
# Question 5: Mean and variance of column 1
mean(array_1[:,1])
var(array_1[:,1])

0.0

In [32]:
# Question 5 (continued): Mean and variance of column 2
mean(array_1[:,2])
var(array_1[:,2])

0.0

In [33]:
# Question 5 (continued): Mean and variance of column 3
mean(array_1[:,3])
var(array_1[:,3])

0.0

In [34]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1,:auto)

30×3 DataFrame
 Row │ x1            x2            x3
     │ Float64       Float64       Float64
─────┼──────────────────────────────────────────
   1 │ 1.4204e-315   1.00999e-314  1.27186e-315
   2 │ 2.0e-323      6.0e-323      1.14e-322
   3 │ 1.0e-323      4.0e-323      8.0e-323
   4 │ 2.28435e-315  1.00999e-314  2.21948e-315
   5 │ 1.14e-322     6.4e-323      2.27e-322
   6 │ 1.5e-323      4.4e-323      9.0e-323
   7 │ 1.27177e-315  5.0e-324      1.27177e-315
   8 │ 2.5e-323      7.0e-323      1.2e-322
   9 │ 1.5e-323      5.0e-323      9.0e-323
  10 │ 1.27177e-315  2.122e-314    1.27186e-315
  11 │ 6.4e-323      7.4e-323      1.3e-322
  ⋮  │      ⋮             ⋮             ⋮
  21 │ 2.5e-323      6.4e-323      1.04e-322
  22 │ 5.0e-324      1.27186e-315  1.27938e-315
  23 │ 4.4e-323      1.0e-322      1.4e-322
  24 │ 3.0e-323      7.0e-323      1.04e-322
  25 │ 1.00999e-314  1.27261e-315  1.27261e-315
  26 │ 5.4e-323      9.4e-323      1.8e-322
  27 │ 3.5e-323      7.0e-323      1.1e-322
  28 │ 1.00999e-314  1.27177e-315  2.21488e-315
  29 │ 5.0e-323      1.04e-322     0.0
  30 │ 3.5e-323      7.4e-323      0.0
                                  9 rows omitted

In [38]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrame
 Row │ Var1          Var2          Var3
     │ Float64       Float64       Float64
─────┼──────────────────────────────────────────
   1 │ 1.4204e-315   1.00999e-314  1.27186e-315
   2 │ 2.0e-323      6.0e-323      1.14e-322
   3 │ 1.0e-323      4.0e-323      8.0e-323
   4 │ 2.28435e-315  1.00999e-314  2.21948e-315
   5 │ 1.14e-322     6.4e-323      2.27e-322
   6 │ 1.5e-323      4.4e-323      9.0e-323
   7 │ 1.27177e-315  5.0e-324      1.27177e-315
   8 │ 2.5e-323      7.0e-323      1.2e-322
   9 │ 1.5e-323      5.0e-323      9.0e-323
  10 │ 1.27177e-315  2.122e-314    1.27186e-315
  11 │ 6.4e-323      7.4e-323      1.3e-322
  ⋮  │      ⋮             ⋮             ⋮
  21 │ 2.5e-323      6.4e-323      1.04e-322
  22 │ 5.0e-324      1.27186e-315  1.27938e-315
  23 │ 4.4e-323      1.0e-322      1.4e-322
  24 │ 3.0e-323      7.0e-323      1.04e-322
  25 │ 1.00999e-314  1.27261e-315  1.27261e-315
  26 │ 5.4e-323      9.4e-323      1.8e-322
  27 │ 3.5e-323      7.0e-323      1.1e-322
  28 │ 1.00999e-314  1.27177e-315  2.21488e-315
  29 │ 5.0e-323      1.04e-322     0.0
  30 │ 3.5e-323      7.4e-323      0.0
                                  9 rows omitted

In [36]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[11:30,:]

20×3 DataFrame
 Row │ x1            x2            x3
     │ Float64       Float64       Float64
─────┼──────────────────────────────────────────
   1 │ 6.4e-323      7.4e-323      1.3e-322
   2 │ 2.0e-323      5.4e-323      9.4e-323
   3 │ 1.27177e-315  2.21947e-315  2.21948e-315
   4 │ 3.0e-323      8.4e-323      1.24e-322
   5 │ 2.0e-323      6.0e-323      9.4e-323
   6 │ 1.27177e-315  1.27177e-315  1.27186e-315
   7 │ 4.0e-323      8.0e-323      1.33e-322
   8 │ 2.5e-323      6.0e-323      1.0e-322
   9 │ 2.17914e-315  1.27186e-315  1.27177e-315
  10 │ 3.5e-323      9.0e-323      2.27e-322
  11 │ 2.5e-323      6.4e-323      1.04e-322
  12 │ 5.0e-324      1.27186e-315  1.27938e-315
  13 │ 4.4e-323      1.0e-322      1.4e-322
  14 │ 3.0e-323      7.0e-323      1.04e-322
  15 │ 1.00999e-314  1.27261e-315  1.27261e-315
  16 │ 5.4e-323      9.4e-323      1.8e-322
  17 │ 3.5e-323      7.0e-323      1.1e-322
  18 │ 1.00999e-314  1.27177e-315  2.21488e-315
  19 │ 5.0e-323      1.04e-322     0.0
  20 │ 3.5e-323      7.4e-323      0.0

In [37]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×7 DataFrame
 Row │ variable  mean          min       median    max           nmissing  elt ⋯
     │ Symbol    Float64       Float64   Float64   Float64       Int64     Dat ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ x1        1.24613e-315  5.0e-324  3.5e-323  1.00999e-314         0  Flo ⋯
   2 │ x2        4.28967e-316  5.4e-323  8.4e-323  2.21947e-315         0  Flo
   3 │ x3        4.76499e-316  0.0       1.3e-322  2.21948e-315         0  Flo
                                                                1 column omitted

In [ ]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat] = rand(["GroupA","GroupB"],20)

In [50]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1     21     41
   2 │     2     22     42
   3 │     3     23     43
   4 │     4     24     44
   5 │     5     25     45
   6 │     6     26     46
   7 │     7     27     47
   8 │     8     28     48
   9 │     9     29     49
  10 │    10     30     50
  11 │    11     31     51
  12 │    12     32     52
  13 │    13     33     53
  14 │    14     34     54
  15 │    15     35     55
  16 │    16     36     56
  17 │    17     37     57
  18 │    18     38     58
  19 │    19     39     59
  20 │    20     40     60

In [54]:
# Question 12: Change indicated values to empty entries
allowmissing!(df3)
df3[2,:A] = missing
df3[4,:B] = missing 
df3[6,:C] = missing
df3

20×3 DataFrame
 Row │ A        B        C
     │ Int64?   Int64?   Int64?
─────┼───────────────────────────
   1 │       1       21       41
   2 │ missing       22       42
   3 │       3       23       43
   4 │       4  missing       44
   5 │       5       25       45
   6 │       6       26  missing
   7 │       7       27       47
   8 │       8       28       48
   9 │       9       29       49
  10 │      10       30       50
  11 │      11       31       51
  12 │      12       32       52
  13 │      13       33       53
  14 │      14       34       54
  15 │      15       35       55
  16 │      16       36       56
  17 │      17       37       57
  18 │      18       38       58
  19 │      19       39       59
  20 │      20       40       60

In [55]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = df3
for el in eachrow(df4)
    if ismissing(el[:A])
        el[:A]=0
    end
end

for el in eachrow(df4)
    if ismissing(el[:B])
        el[:B]=0
    end
end
        
for el in eachrow(df4)
    if ismissing(el[:C])
        el[:C]=0
    end
end

In [56]:
df4

20×3 DataFrame
 Row │ A       B       C
     │ Int64?  Int64?  Int64?
─────┼────────────────────────
   1 │      1      21      41
   2 │      0      22      42
   3 │      3      23      43
   4 │      4       0      44
   5 │      5      25      45
   6 │      6      26       0
   7 │      7      27      47
   8 │      8      28      48
   9 │      9      29      49
  10 │     10      30      50
  11 │     11      31      51
  12 │     12      32      52
  13 │     13      33      53
  14 │     14      34      54
  15 │     15      35      55
  16 │     16      36      56
  17 │     17      37      57
  18 │     18      38      58
  19 │     19      39      59
  20 │     20      40      60